<div class="app">
    <!-- <h1>{{title}}</h1>
    <h1 [innerHTML]='title'></h1> -->
    <!-- <img [src]="logo"> -->
    <!-- <input type="text" [value]="name" (input)="handleChange($event.target.value)">

    <ng-template [ngIf]="name.length > 2">
        <div>
            Searching for ... {{name}}
        </div>
    </ng-template>

    <div *ngIf="name.length > 2">
        Searching for... {{name}}
    </div> -->
    <!-- <div>
        <ul>
            <ng-template ngFor let-passenger let-i="index" [ngForOf]="passengers">
                <li>
                    {{i}}: {{passenger.fullname}}
                </li>
            </ng-template>
        </ul>
    </div> -->
    <passenger-viewer></passenger-viewer>
</div>